h1 {
  color: blue;
  font-size: 60px;
  }
* {
  font-family: Arial;

}
#box1 {
padding: 50px; 
  text-align: center;
  border-style: solid;
}
#box2 {
padding: 50px; 
  text-align: center;
  border-style: solid;
}
